# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.log

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# AWS CDK
# =========================
cdk.out/
.cdk-temp/
*.js
*.js.map

# =========================
# AWS Lambda deployment packages
# =========================
*.zip

# =========================
# Docker
# =========================
.dockerignore
docker-compose.override.yml
docker-compose.override.*.yml
docker-compose.override.*.yaml

# =========================
# Environment variables
# =========================
.env

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =========================
# Misc / temp files
# =========================
*.swp
*.DS_Store
*.tmp
